name: Lint

on:
  pull_request:
    branches:
      - main
      - gh/**
  push:
    branches:
      - main
  workflow_dispatch: # Allows manual triggering

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: operator
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: operator/go.mod

      - name: Run linter
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5.0
          working-directory: operator
